*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;

background:#f1f5f9;

}




header{

height:70px;

background:#1e3a8a;

color:white;

display:flex;

align-items:center;

padding:0 8%;

gap:40px;

}


header h1{

font-size:26px;

}


nav{

display:flex;

gap:25px;

flex:1;

}


nav a{

color:white;

text-decoration:none;

font-size:16px;

}


header button{

background:white;

color:#1e3a8a;

border:none;

padding:10px 20px;

border-radius:6px;

cursor:pointer;

}


.profile-page{

width:85%;

margin:40px auto;

}



.top-section{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}


.top-section h2{

font-size:30px;

}


.top-section a{

background:#2563eb;

color:white;

padding:10px 18px;

border-radius:6px;

text-decoration:none;

}






.profile-card{

background:white;

border-radius:15px;

padding:30px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}




.student-header{

display:flex;

align-items:center;

gap:25px;

border-bottom:1px solid #ddd;

padding-bottom:25px;

}



.student-photo{

width:100px;

height:100px;

border-radius:50%;

background:#2563eb;

color:white;

font-size:45px;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

}



.student-info h1{

font-size:30px;

margin-bottom:10px;

}



.student-info p{

color:#555;

margin:5px;

}






.content-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:30px;

}




.box{

border:1px solid #ddd;

border-radius:12px;

padding:20px;

}



.box h3{

color:#1e3a8a;

margin-bottom:15px;

font-size:20px;

border-bottom:2px solid #2563eb;

padding-bottom:8px;

}




table{

width:100%;

border-collapse:collapse;

}


td{

padding:10px;

border-bottom:1px solid #eee;

}


td:first-child{

font-weight:bold;

color:#555;

}





.skill-container span{


display:inline-block;

background:#2563eb;

color:white;

padding:9px 15px;

border-radius:30px;

margin:5px;

}




.status-card{


font-size:35px;

font-weight:bold;

color:#2563eb;

}





@media(max-width:768px){


header{

flex-direction:column;

height:auto;

padding:20px;

}


nav{

flex-direction:column;

}


.content-grid{

grid-template-columns:1fr;

}


.student-header{

flex-direction:column;

text-align:center;

}



}