#searchInput,
#departmentFilter,
#sortSelect {
    padding: 10px;
    margin: 10px 5px 20px 0;
}

td button {
    width: auto;
    padding: 7px 9px;
    margin: 2px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    width: auto;
    padding: 8px 14px;
    margin: 0 5px;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


